.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    color: #222222 !important;
}

/* BUTTON */
.btn-search{
    background-color: #fe424d;
    color: white;
    border: none;
    border-radius: 5rem;
}

.btn-search:hover{
    background-color: #fe424d;
    color: #fff;
}

.btn-search i{
    display: inline;
    margin-right: 0.4rem;
}